body{
    background-color:rgba(245, 243, 243, 0.377);
}

.titlu{
    text-align: center;
    color: rgb(38, 62, 114);
    font-size: 3.5vh;
    font-family: 'Helvetica', sans-serif;
    margin-bottom: -30px;
    font-weight: bold;
}

.container{
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 40vw;
    height: 75vh;
    margin-left: 30vw;
    margin-top: 10vh;
    border-radius: 10px;
    background-color: rgba(7, 31, 248, 0.11);

}

.content{
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40vw;
    height: 30vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-flickr {
    background: #0063dc;
    color: white;
}

.fa-tumblr {
    background: #2c4762;
    color: white;
}

.fa {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    width: 50px;
    padding: 20px;
}

.Addbtn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 6.5vh;
    margin: 10px;
    border-radius: 15px;
}