
.main {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(245, 243, 243, 0.377);
}

.content{
    background-color:  rgba(7, 31, 248, 0.11);
    width:80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.search-area{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}
.search-area span{
    font-size: larger;
}
.search-box input{
    height: 5vh;
    width: 40vw;
    border-radius: 10px;
    background-color:  rgba(153, 153, 155, 0.329);
    border: none;
    background-image: url('search.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    background-size: 15px;
}
.returnToSMA a{
    color: black;
    font-size: larger;
    text-decoration: none;
}

.buttons-area{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}
.buttons-area a{
    color: black;
    text-decoration: none;
}

.questions-area{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.questions li{
    margin-top:20px;
}
.questions h1{
    margin-bottom: 20%;
}

@media only screen and (max-width: 600px) {
    .content {
        width: 80%;
        height: 80vh;
    }
    .input-box{
        margin-top: 40%;
    }
    h1 {
        font-size: 20px;
        top: 8%;
    }
    span{
        font-size: 19px;
        top:20%;
    }
    .icon {
        width: 30px;
        height: 40px;
        margin-top: 40%;
    }
    #sign-in,
    #sign-up {
        font-size: 11px;
    }
    .search-area span{
        font-size: 10px;
    }
    .returnToSMA a{
        font-size: 10px;
    }
    .image{
        display: none;
    }
    .buttons-area{
        font-size: 10px;
    }
}
